:root {
	--primary-brand: #4d5ae5;
	--dark: #2e2f42;
	--text: #434455;
	--subtle-text: #8e8f99;
	--light: #ffffff;
	--cornflower: #e7e9fc;
	--succes: #31d0aa;
	--customcolor: #afb1b8;

	--time-function: cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::after *::before {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

.container {
	width: 1158px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

img {
	display: block;
	max-width: 100%;
}

ul {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: var(--light);
	padding: 0px;
	margin: 0px;
}

/*_______HEADER_______*/

.header {
	background-color: var(--light);
	border-bottom: 0.5px solid var(--cornflower);
	box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
		0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.main-nav {
	display: flex;
	text-decoration: none;
	list-style-type: none;
	align-items: center;
}

.logo {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: calc(21 / 18);
	text-decoration: none;
	color: var(--primary-brand);
}

.studio {
	color: var(--dark);
}

.header-list {
	list-style-type: none;
	display: flex;
	margin-left: 77px;
}

.list-item {
	position: relative;
	margin-left: 40px;
}

.header-link::after {
	position: absolute;
	top: 63px;
	left: 0;

	content: "";
	width: 100%;
	height: 4px;

	background-color: var(--primary-brand);
	border-radius: 2px;

	transform: scaleX(0);
	transition: transform 250ms var(--time-function);
}

.header-link:hover::after {
	transform: scaleX(1);
}

.list-item:first-child {
	margin-left: 0px;
}

.header-link {
	position: relative;

	font-weight: 600;
	font-size: 16px;
	line-height: calc(24 / 16);
	color: var(--dark);
	text-decoration: none;
	padding-top: 24px;
	padding-bottom: 24px;
	display: block;

	transition: color 250ms var(--time-function);
}

.header-link:hover,
.header-link:focus {
	color: var(--primary-brand);
}

.header-link:active {
	color: var(--primary-brand);
}

.studio-link {
	position: relative;

	font-weight: 600;
	font-size: 16px;
	line-height: calc(24 / 16);
	color: var(--dark);
	text-decoration: none;

	display: block;
	padding-top: 24px;
	padding-bottom: 24px;
	color: var(--primary-brand);
	border-radius: 2px;
}

.studio-link::after {
	position: absolute;
	left: 0;
	top: 63px;

	content: "";
	width: 100%;
	height: 4px;

	background-color: var(--primary-brand);
	border-radius: 2px;
}

.call {
	list-style-type: none;
	display: flex;
	align-items: center;
	margin-left: 331px;
}

.info {
	margin-right: 40px;
}

.info:last-child {
	margin-right: 0px;
}

.contacts {
	font-weight: 400;
	font-size: 16px;
	line-height: calc(24 / 16);
	color: var(--text);
	text-decoration: none;
	padding-top: 24px;
	padding-bottom: 24px;
	display: block;

	transition: color 250ms var(--time-function);
}

.contacts:hover,
.contacts:focus {
	color: var(--primary-brand);
}

.contacts:active {
	color: var(--primary-brand);
}

/*____________HERO__________ */

.hero {
	font-weight: 600;
	padding-top: 192px;
	padding-bottom: 192px;
	background-image: linear-gradient(
			to right,
			rgba(46, 47, 66, 0.7),
			rgba(46, 47, 66, 0.7)
		),
		url("../img/hero-img.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 1440px;
	margin: 0 auto;
}

.hero-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.title {
	font-size: 56px;
	line-height: calc(60 / 56);
	max-width: 492px;
	margin-top: 0px;
	margin-bottom: 48px;
	color: var(--light);
}

.hero-btn {
	display: block;
	font-family: inherit;
	font-size: 16px;
	line-height: calc(19 / 16);
	background: var(--primary-brand);
	cursor: pointer;
	color: var(--light);
	padding: 16px 32px;
	border-radius: 4px;
	border: 1px solid var(--primary-brand);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

	transition: background-color 250ms var(--time-function),
	box-shadow 250ms var(--time-function) ;
}

.service-btn :hover {
	background: var(--primary-brand);
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
		0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/*_______OUR ADVENTAGES_______*/

.our-adventages {
	padding-top: 120px;
	padding-bottom: 120px;
}

.adventages-list {
	list-style-type: none;
	display: flex;
	padding: 0px;
	justify-content: space-between;
	margin: 0px;
}

.adventages-list-item {
	width: calc((100% - 72px) / 4);
	margin-right: 24px;
}

.adventages-list-item:last-child {
	margin-right: 0px;
}

.futures-item {
	height: 112px;
	background-color: var(--cornflower);
	margin-bottom: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.futures-icon {
	width: 64px;
	height: 64px;
}

.quality {
	font-weight: 600;
	font-size: 20px;
	line-height: calc(24 / 20);
	color: var(--dark);
	margin-top: 0px;
	margin-bottom: 8px;
}

.descript {
	font-weight: 400;
	font-size: 16px;
	line-height: calc(24 / 16);
	color: var(--text);
	margin: 0px;
}

/*_______OUR WORK_______ */

.our-work-container {
	flex-direction: column;
}

.work-gallary {
	display: flex;
}

.big-words {
	text-align: center;
	margin-bottom: 72px;
	margin-top: 0px;
	font-family: "Roboto";
	font-weight: 600;
	font-size: 36px;
	line-height: calc(40 / 36);
}

.our-work-list {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
}

.our-work {
	font-weight: 600;
	font-size: 36px;
	line-height: calc(40 / 36);
	color: var(--dark);
	margin: 0px;
	padding-bottom: 120px;
}

/*_______TEAM_______ */

.our-work-container {
	flex-direction: column;
}

.our-team {
	background-color: var(--cornflower);
	padding-top: 120px;
	padding-bottom: 120px;
}

.team-list {
	list-style-type: none;
	display: flex;
	/* justify-content: space-between; */
	flex-direction: row;
}

.team-list-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: calc((100%-72px) / 4);
}

.peoples {
	background-color: var(--light);
	text-align: center;
	display: flex;
	padding: 32px 16px;
	flex-direction: column;
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
		0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
	border-radius: 0px 0px 4px 4px;
}

.team-title {
	font-weight: 600;
	font-size: 36px;
	line-height: calc(40 / 36);
	color: var(--dark);
	margin-top: 0px;
	margin-bottom: 120px;
	text-align: center;
}

.personal {
	font-weight: 600;
	font-size: 20px;
	line-height: calc(24 / 20);
	color: var(--dark);
	margin-top: 0px;
	margin-bottom: 8px;
}
.position {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: var(--text);
	margin-top: 0px;
	margin-bottom: 12px;
}

/*_______TEAM ICONS_______ */
.soc-list {
	display: flex;
	list-style-type: none;
	justify-content: space-between;
}

.soc-list-item:nth-child(-n + 3) {
	margin-right: 24px;
}

.soc-link {
	width: 40px;
	height: 40px;
	background-color: var(--primary-brand);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.soc-icon {
	width: 16px;
	height: 16px;
}

/*_______CUSTOMERS______ */

.custom {
	padding-top: 120px;
	padding-bottom: 120px;
}

.custom-title {
	text-align: center;
	margin-top: 0px;
	font-weight: 700;
	font-size: 36px;
	line-height: calc(42 / 36);
	color: var(--dark);
	margin-bottom: 72px;
}

.custom-list {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
}

.custom-list-item {
	width: calc((100% - 120px) / 6);
}

.custom-link {
	display: flex;
	align-items: center;
	height: 88px;
	justify-content: center;
	border: 1px solid var(--customcolor);
	border-radius: 4px;
	color: var(--customcolor);

	transition: color 250ms var(--time-function),
	border 250ms var(--time-function);
}

.custom-link:hover {
	color: var(--primary-brand);
	border: 1px solid var(--primary-brand);
}

.custom-icon {
	width: 104px;
	height: 56px;
	fill: currentColor;
}

/*_______FOOTER_______ */
.footer {
	background: var(--dark);
	padding-top: 100px;
	padding-bottom: 100px;
}

.footer-container {
	display: flex;
	justify-content: start;
}

.bottom {
	color: var(--cornflower);
	font-weight: 800;
	font-size: 18px;
	line-height: calc(21 / 18) px;
}

.text {
	font-weight: 400;
	font-size: 16px;
	line-height: calc(24 / 16);
	color: var(--cornflower);
	margin: 0px;
	max-width: 264px;

	margin-top: 16px;
}

/*_____FOOTER-ICON_____ */

.soc-m-text {
	font-weight: 600;
	font-size: 16px;
	line-height: calc(24 / 16);
	color: var(--light);
	margin-top: 0px;
	margin-bottom: 16px;
}

.footer-soc {
	margin-left: 120px;
}
.btm-soc-list {
	display: flex;
	list-style-type: none;
	justify-content: space-between;
}

.btm-soc-itm:nth-child(-n + 3) {
	margin-right: 24px;
}

.btm-soc-link {
	display: flex;
	width: 40px;
	height: 40px;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 50%;
	justify-content: center;
	align-items: center;

	transition: background-color 250ms var(--time-function);
}

.btm-soc-link:hover {
	background-color: var(--succes);
}

.btm-icon {
	width: 24px;
	height: 24px;
}

/* _______________________PORTFOLIO______________________ */

.main-portfolio {
	padding-bottom: 120px;
	padding-top: 96px;
}

.portfolio-active {
	position: relative;

	font-weight: 600;
	font-size: 16px;
	line-height: calc(24 / 16);
	color: var(--dark);
	text-decoration: none;

	display: block;
	padding-top: 24px;
	padding-bottom: 24px;
	color: var(--primary-brand);
	border-radius: 2px;
}

.portfolio-active::after {
	position: absolute;
	left: 0;
	top: 63px;

	content: "";
	width: 100%;
	height: 4px;

	background-color: var(--primary-brand);
	border-radius: 2px;
}

/* _______FILTERS_______ */

.filters-list {
	list-style-type: none;
	display: flex;
	margin: 0 271px 0 271px;
}

.filters-container {
	margin-bottom: 72px;
}

.filters {
	font-family: inherit;
	background: var(--light);
	font-weight: 600;
	font-size: 16px;
	line-height: calc(24 / 16);
	color: var(--primary-brand);
	cursor: pointer;
	display: flex;
	padding: 12px 24px;
	border-radius: 4px;
	border: 1px solid var(--cornflower);

	transition: color 250ms var(--time-function),
	background-color 250ms var(--time-function);
}

.filters:hover,
.filters:focus {
	color: var(--light);
	background-color: var(--primary-brand);
	border: var(--primary-brand);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}


.filters:active {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	background-color: var(--primary-brand);
}

.filters-list-item {
	margin-right: 24px;
}

.filters-list-item:last-child {
	margin-right: 0px;
}

.all {
	color: var(--light);
	background-color: var(--primary-brand);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	border: var(--primary-brand);
}

/*_______PORTFOLIO PHOTOS_______ */

.portfolio-list {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: -48px;
	margin-right: -24px;
}

.portfolio-list-item {
	margin-bottom: 48px;
	margin-right: 24px;
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.portfolio-link {
	text-decoration: none;
}

.portfolio-list-item:hover {
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
		0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-link:hover .product-overlay {
	transform: translateY(0);
}

.overlay-text {
	font-weight: 400;
	font-size: 16px;
	line-height: calc(24 / 16);
	position: absolute;
	right: 32px;
	top: 40px;
	max-width: 296px;

	color: var(--light);
	margin: 0;
}

.product-overlay {
	position: absolute;
	top: 0;
	left: 0;

	content: "";
	width: 100%;
	height: 100%;
	background-color: rgba(77, 90, 229, 0.9);

	transform: translateY(100%);
	transition: transform 250ms var(--time-function);
}

.product {
	position: relative;
	overflow: hidden;
}

.small-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-top: 32px;
	padding-bottom: 32px;
	padding-left: 16px;
	padding-right: 16px;
	padding-right: auto;
	border-bottom: 0.5px solid var(--cornflower);
}

.row {
	font-weight: 600;
	font-size: 20px;
	line-height: calc(24 / 20);
	color: var(--dark);
	margin-top: 0px;
	margin-bottom: 8px;
}

.row-text {
	font-weight: 400;
	font-size: 16px;
	line-height: calc(24 / 16);
	color: var(--text);
	margin: 0px;
}

/* _______MODAL WINDOW________ */

.backdrop {
	position: fixed;

	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(46, 47, 66, 0.4);

	opacity: 1px;
	transition: opacity 250ms var(--time-function);
}

.backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;
}

.backdrop.is-hidden .modal {
	transform: translate(-50% -50%) scale(0.9);
}

.modal {
	position: absolute;
	width: 408px;
	height: 576px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--light);

	transform: translate(-50% -50%) scale(0.9);
	transition: translate 250ms var(--time-function);
}
.modal-btn {
	position: absolute;
	top: 24px;
	right: 24px;
	width: 24px;
	height: 24px;
	background-color: var(--cornflower);
	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal-icon {
	width: 8px;
	height: 8px;
}
